<div class="code-container">
  <div class="explorer-section" *ngIf="type == 'CD'">
    <ul>
      <li *ngFor="let item of explorerData; let i = index">
        <span (click)="handleItemClick(item)">
          {{ item.name }}
        </span>
        <ul *ngIf="item.children && item.children[0] && item.expanded">
          <li>
            <span (click)="handleItemClick(item.children[0])">
              {{ item.children[0].name }}
            </span>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="explorer-section" *ngIf="type == 'DB'">
    <div *ngFor="let item of explorerData; let i = index">
      <span (click)="handleItemClick(item)">
        {{ item.name }}
      </span>
    </div>
  </div>
  <app-markdown
    class="editor editor-markdown"
    *ngIf="selectedLanguage == 'markdown'"
  ></app-markdown>
  <ngx-monaco-editor
    class="editor"
    [options]="editorOptions"
    [(ngModel)]="code"
    *ngIf="selectedLanguage != 'markdown'"
  ></ngx-monaco-editor>
</div>
